.content {
	overflow: hidden;
}
.page-header {
	padding: $mobile-side-space;
	color: #fff;

	background-image: url('../img/page-image.jpg');
	background-size: cover;
	background-position: center center;
}
.slide {
	border-bottom: 1px solid $gray-light;
	.inner {
		padding: $mobile-side-space;
	}
	h3 {
		margin-bottom: 1em;
	}
	.bullets {
		strong {
			font-family: $accent-font;
		}
	}
	&:nth-child(even) {
		//background-color: $gray-lightest;
	}
}
.bg-image {
	background-size: cover;
	background-position: center top;
	position: relative;
}
.intro-hero {
	padding: $mobile-side-space*4 $mobile-side-space*2 $mobile-side-space*2;

	background-image: url('../img/home-image.jpg');
	background-size: cover;
	background-position: center center;

	h1, h2 {
		color: #fff;
	}
	h1 {
		margin-bottom: 1em;
	}
	h2 {
		font-size: 14px;
		text-transform: uppercase;
	}
}
.testimonial {
	.quote {
		text-align: center;
		p {
			padding: 20px;
			border: 5px solid $main-color;
			font-size: 1.1em;
			position: relative;
			&:before {
				width: 0; height: 0;
				display: block;
				border-top: 20px solid $main-color;
				border-left: 20px solid transparent;
				content: ' ';
				position: absolute;
				bottom: -20px;
				right: 50px;
			}
		}
		strong {
			line-height: 1.5em;
			font-size: 1.3em;
			font-weight: bold;
			color: $main-color;
			display: block;
		}
		em {
			color: $gray;
			line-height: 1.5em;
			font-style: italic;
			text-align: right;
			display: block;
			margin-bottom: 1.5em;
			&:before {
				//content: '-';
			}
		}
	}
}


// Responsive
@media all and (min-width: 420px) {
// Tablet & Up
.page-header {
	padding: 60px $desktop-side-space;
	.inner {
		max-width: $page-size;
		margin: 0 auto;
	}
}
.intro-hero {
	padding: 10vw $desktop-side-space;
	h1 {
		font-size: 40px;
	}
	.inner {
		max-width: 625px;
		margin: 0 auto;
	}

}
.slide {
	.inner {
		max-width: $page-size;
		margin: 0 auto;
		padding: 5em $desktop-side-space;
	}
	h3 {
	  font-size: 35px;
	  margin-bottom: .5em;
	}
}
.right-space {
	h3, p, .bullets {
		width: 70%;
	}
}
.testimonial {
	.quote {
		p {
			padding: 60px;
			border-width: 8px;
			font-size: 1.3em;
		}
		strong {
			font-size: 1.5em;
		}
	}
}
// Individual Slide Graphics
.empp {
	font-weight: bold;
}
.chart {
	background-image: url('../img/slide-bg-chart.png');
}
.lineup {
	background-image: url('../img/slide-bg-lineup.png');
}


// End Tablet & Up
}
@media all and (min-width: 800px) {
// Desktop & Up


// End Desktop & Up
}