<div class="site-navigation">
  <div class="inner">
    <a class="logo" href="{{ site.baseurl }}/">Hometivity</a>
    <a class="mobile-toggle" href="{{ site.baseurl }}/"><i class="fa fa-bars"></i></a>
    <ul class="nav">
        <li><a href="{{ site.baseurl }}/benefits">Benefits</a></li>
        <li><a href="{{ site.baseurl }}/how-it-works">How It Works</a></li>
        <li><a href="{{ site.baseurl }}/calculate-savings">See Your Savings</a></li>
        <li><a href="{{ site.baseurl }}/about">About Us</a></li>
    </ul>
  </div>
</div>